.full-page-img {
    background-image: url("src/img/b3.jpg");
    /* Set the path to your image */
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    /* Align form to the left */
    align-items: center;
    /* Center form vertically */
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0rem;
    max-width: 500px;
    width: 100%;
    margin-left: 5%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    /* Full width buttons */
}

a {
    color: #007bff;
    /* Link color */
    text-decoration: none;
    /* Remove underline */
}

a:hover {
    text-decoration: underline;
    /* Underline on hover */
}
