<div class="full-page">
  <!-- Full page background image -->
  <div class="background-img">
    <!-- Buttons -->
    <div class="top-right-buttons">
      <button routerLink="/login" class="btn btn-primary m-2">Login</button>
      <button routerLink="/register" class="btn btn-danger m-2">Sign Up</button>
    </div>

    <!-- Content with white text -->
    <div class="content text-center">
      <h1 class="greeting text-white">Avoid Hassles & Delays.</h1>
      <p class="description text-white">
        How is health today? Sounds like it's not good!<br />
        Don't worry. Find your doctor online and book an appointment with our
        app.<br />
        We offer a free doctor channeling service, Make your appointment now.
      </p>
      <button class="btn btn-primary">Make Appointment</button>
    </div>
  </div>
</div>
