<app-navbar></app-navbar> <br />
<div class="container">
  <h2>Dashboard</h2>

  <div *ngIf="isPatient">
    <h3>Patient Dashboard</h3>
    <p>You can book appointments here.</p>
    <a class="btn btn-primary" routerLink="/appointments">Book Appointment</a>
  </div>

  <div *ngIf="isProvider">
    <h3>Service Provider Dashboard</h3>
    <p>Manage your availability and appointments.</p>
    <a class="btn btn-primary" routerLink="/availability">Set Availability</a>
    <a class="btn btn-secondary" routerLink="/appointments"
      >View Appointments</a
    >
  </div>
</div>
