<div class="full-page">
  <!-- Full page background image -->
  <div class="background-img">

    <!-- Buttons -->
    <div class="top-right-buttons">
      <button routerLink="/login" class="btn btn-primary m-2">Login</button>
      <button routerLink="/register" class="btn btn-danger m-2">Sign Up</button>
    </div>

    <div class="content text-center glass-effect">
      <!-- Greeting Message -->
      <h1 class="greeting">Welcome to Smart Appointment Scheduling System</h1>
      <p style="color: black;">Effortlessly manage your appointments with our smart scheduling solution</p>
      <!-- <h6 style="color: black;">Effortlessly manage your appointments with our smart scheduling solution</h6> -->
    </div>

  </div>
</div>
